*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

:root {
  --blue: #2563EB;
  --blue-light: #EFF4FF;
  --blue-mid: #93B9FD;
  --teal: #0D9488;
  --teal-light: #F0FDFA;
  --teal-mid: #5EEAD4;
  --green: #16A34A;
  --green-light: #F0FDF4;
  --red: #DC2626;
  --red-light: #FEF2F2;
  --red-mid: #FCA5A5;
  --amber: #D97706;
  --amber-light: #FFFBEB;
  --amber-mid: #FCD34D;
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;
  --bg: #F8FAFC;
  --surface: #FFFFFF;
  --border: #E2E8F0;
  --text-primary: #0F172A;
  --text-secondary: #475569;
  --text-muted: #94A3B8;
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;
  --radius-xl: 20px;
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, .08), 0 1px 2px rgba(0, 0, 0, .04);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, .08), 0 2px 4px rgba(0, 0, 0, .04);
  --shadow-lg: 0 10px 30px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .05);
  --font-sans: 'DM Sans', sans-serif;
  --font-serif: 'DM Serif Display', serif;
  --sidebar-w: 240px;
  --nav-h: 64px;
  --transition: .2s ease;
}

[data-dark ="true"] {
  --bg: #0B1120;
  --surface: #111827;
  --border: #1E293B;
  --text-primary: #F1F5F9;
  --text-secondary: #94A3B8;
  --text-muted: #475569;
  --gray-50: #1E293B;
  --gray-100: #1E293B;
  --gray-200: #263548;
  --gray-300: #334155;
  --blue-light: #1E3A6E;
  --teal-light: #0D3330;
  --green-light: #052E16;
  --red-light: #2D0A0A;
  --amber-light: #2D1B00;
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, .3);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, .3);
  --shadow-lg: 0 10px 30px rgba(0, 0, 0, .4);
}

body {
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--text-primary);
  line-height: 1.6;
  font-size: 15px;
  transition: background var(--transition), color var(--transition);
  top: 0px !important;
}

img {
  display: block;
  max-width: 100%
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background: none
}

a {
  color: inherit;
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1.3
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}